.App-logo {
  height: 34px;
}

.App-header {
  background-color: #0f2431eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (min-width: 601px) {
  .App-header {
    min-height: calc(100vh - 64px);
  }
}

@media only screen and (max-width: 600px) {
  .App-header {
    min-height: calc(100vh - 58px);
  }
}

.MuiPaper-root:hover {
  box-shadow: 7px 7px 7px 0px rgba(0,0,0,0.90) !important
}

.MuiBreadcrumbs-li:hover {
  text-decoration: underline;
}

.MuiCardHeader-title {
  line-height: 1.2 !important;
}

.MuiPaper-root, .MuiTypography-root {
  font-family: 'Acme', sans-serif !important;
  word-spacing: 3px;
}